{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Z-Tracer{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="nv_cpus"><a href="{{ url_for('.cpus') }}">cpu</a></li>
            <li id="nv_interrupt"><a href="{{ url_for('.interrupts') }}">interrupt</a></li>
            <li id="nv_softirq"><a href="{{ url_for('.softirqs') }}">softirq</a></li>
            <li id="nv_syscall"><a href="{{ url_for('.syscalls') }}">syscall</a></li>
            <li id="nv_signal"><a href="{{ url_for('.signal') }}">signal</a></li>
            <li id="nv_timer"><a href="#">timer</a></li>
            <li id="nv_lock"><a href="#">lock</a></li>
            <li id="nv_off-cpu"><a href="#">off-cpu</a></li>
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="entry">
            {% block main_content %}
            {% endblock %}
            </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
