{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Z-Tracer{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="nv_funccount"><a href="{{ url_for('.cpus') }}">调用次数跟踪</a></li>
            <li id="nv_funccallee"><a href="{{ url_for('.function_callee') }}">callee</a></li>
            <li id="nv_funccaller"><a href="{{ url_for('.function_caller') }}">caller</a></li>
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="entry">
            {% block main_content %}
            {% endblock %}
            </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
