{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Z-Tracer{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <div id="scpu" style="min-width:100px; height: 200px"></div>
              <div id="smem" style="min-width:100px; height: 200px"></div>
          </ul>

        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div id="stat" style="min-width:400px;height:300px"></div>
          <div id="mem" style="min-width:400px;height:300px"></div>
          <div id="loadavg" style="min-width:400px;height:300px"></div>
          <div id="irqall" style="min-width:400px;height:300px"></div>
          <div id="softirq" style="min-width:400px;height:300px"></div>
          <div id="ctxt" style="min-width:400px;height:300px"></div>
          <div id="fork" style="min-width:400px;height:300px"></div>
          <div id="runnblocked" style="min-width:400px;height:300px"></div>
          <div id="nrthreads" style="min-width:400px;height:300px"></div>
          <div id="uptime" style="min-width:400px;height:300px"></div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    function autoupdate(){
        $.post("/update/all",
            {
                data : 'index',
                id  : null,
            },
            function(data,status){
                if(status == "success")
                {
                    if(data.loadavg)
                    {
                        var series = chart.series;
                        //activeLastPointToolip(chart);
                        var x = data.loadavg[0], //时间点
                        y = data.loadavg[1][0];
                        series[0].addPoint([x, y], false, true); //由于要画多个点，第二个参数（自动刷新）不要使能，最后统一重绘
                        y = data.loadavg[1][1];
                        series[1].addPoint([x, y], false, true);
                        y = data.loadavg[1][2];
                        series[2].addPoint([x, y], false, true);
                        chart.redraw();
                        //activeLastPointToolip(chart);
                        chart_nr_threads.series[0].addPoint([x, data.loadavg[1][3]], true, true);
                    }
                {% if stat != None %}
                    if(data.stat)
                    {
                        var series = chart_stat.series;
                        //activeLastPointToolip(chart_stat);
                        var x = data.stat[0];
                        if (x == x_stat)
                            return;
                        x_stat = x;                        
                        y1 = data.stat[1][0];
                        series[0].addPoint([x, y1], false, true);
                        y2 = data.stat[1][1];
                        series[1].addPoint([x, y2], false, true);
                        y3 = data.stat[1][2];
                        series[2].addPoint([x, y3], false, true);
                        y4 = data.stat[1][4];
                        series[3].addPoint([x, y4], false, true);
                        y5 = data.stat[1][5];
                        series[4].addPoint([x, y5], false, true);
                        y6 = data.stat[1][6];
                        series[5].addPoint([x, y6], false, true);
                        y7 = data.stat[1][7];
                        series[6].addPoint([x, y7], false, true);
                        chart_stat.redraw();
                        //activeLastPointToolip(chart_stat);

                        point = chart_scpu.series[0].points[0];
                        newVal = y1+y2+y3+y4+y5+y6+y7;
                        point.update(Math.round(newVal));
                    }
                    if(data.intr)
                    {
                        var x = data.intr[0];
                        if (x == x_irq)
                            return;
                        x_irq = x;
                        dict = data.intr[1];
                        for(var irqnum in dict)
                        {
                            var found = 0
                            if(irqnum == 0 )
                            {
                                chart_irqall.series[0].addPoint([x, dict[0]], false, true);
                            }
                            else
                            {
                                for(var tmp of chart_irqall.series)
                                {
                                    if((tmp.name + 1) == irqnum)
                                    {
                                        found = 1;
                                        var y = dict[irqnum];
                                        tmp.addPoint([x, y], false, true);
                                    }
                                }

                                if(found == 0)
                                {
                                    var newseries=new Array();
                                    newseries.name = irqnum - 1;
                                    newseries.data = create_data(120,x,dict[irqnum]); 
                                    chart_irqall.addSeries(newseries);  
                                }
                            }
                        }
                        chart_irqall.redraw();
                    }

                    if(data.softirq)
                    {
                        var series = chart_softirq.series;
                        //activeLastPointToolip(chart_softirq);
                        var x = data.softirq[0];
                        if (x == x_softirq)
                            return;
                        x_softirq = x;
                        y = data.softirq[1][1];
                        series[0].addPoint([x, y], false, true);
                        y = data.softirq[1][2];
                        series[1].addPoint([x, y], false, true);
                        y = data.softirq[1][3];
                        series[2].addPoint([x, y], false, true);
                        y = data.softirq[1][4];
                        series[3].addPoint([x, y], false, true);
                        y = data.softirq[1][5];
                        series[4].addPoint([x, y], false, true);
                        y = data.softirq[1][6];
                        series[5].addPoint([x, y], false, true);
                        y = data.softirq[1][7];
                        series[6].addPoint([x, y], false, true);
                        y = data.softirq[1][8];
                        series[7].addPoint([x, y], false, true);
                        y = data.softirq[1][9];
                        series[8].addPoint([x, y], false, true);
                        y = data.softirq[1][10];
                        series[9].addPoint([x, y], false, true);
                        chart_softirq.redraw();
                        //activeLastPointToolip(chart_softirq);
                    }

                    if(data.ctxt)
                    {
                        var series = chart_run_block.series;
                        //activeLastPointToolip(chart_run_block);
                        var x = data.ctxt[0], 
                        y = data.ctxt[1][2];
                        series[0].addPoint([x, y], false, true); 
                        y = data.ctxt[1][3];
                        series[1].addPoint([x, y], false, true);
                        chart_run_block.redraw();
                        //activeLastPointToolip(chart_run_block);

                        var series = chart_ctxt.series;
                        //activeLastPointToolip(chart_ctxt);
                        var x = data.ctxt[0], 
                        y = data.ctxt[1][0];
                        series[0].addPoint([x, y], false, true); 
                        chart_ctxt.redraw();
                        //activeLastPointToolip(chart_ctxt);
                        
                        var series = chart_fork.series;
                        //activeLastPointToolip(chart_fork);
                        var x = data.ctxt[0], 
                        y = data.ctxt[1][1];
                        series[0].addPoint([x, y], false, true); 
                        chart_fork.redraw();
                        //activeLastPointToolip(chart_fork);
                    }
                {% endif %}
                {% if meminfo != None %}
                    if(data.mem)
                    {
                        var series = chart_mem.series;
                        //activeLastPointToolip(chart_mem);
                        var x = data.mem[0];
                        if (x == x_mem)
                            return;
                        x_mem = x;
                        y1 = data.mem[1][1];
                        series[0].addPoint([x, y1], false, true); 
                        y3 = data.mem[1][2];
                        series[2].addPoint([x, y3], false, true); 
                        y4 = data.mem[1][3];
                        series[3].addPoint([x, y4], false, true);
                        y2 = data.mem[1][4];
                        series[1].addPoint([x, y2], false, true);
                        chart_mem.redraw();
                        //activeLastPointToolip(chart_mem);

                        point = chart_smem.series[0].points[0];
                        newVal = (1-y1/data.mem[1][0])*100;
                        point.update(Math.round(newVal));
                    }
                {% endif %}
                {% if uptime != None %}
                    if(data.uptime)
                    {
                        var series = chart_uptime.series;
                        var x = data.uptime[0];
                        y1 = data.uptime[1][0];
                        series[0].addPoint([x, y1], false, true); 
                        y2 = data.uptime[1][1];
                        series[1].addPoint([x, y2], false, true); 
                        chart_uptime.redraw();
                    }
                {% endif %}
                }
        });
    }

    function create_data(len,x,lastval) {
        // 生成初始化空值
        var data = [],time = x,i;
        for (i = -len; i < 0; i += 1) {
                data.push({
                        x: time,
                        y: 0 
                });
        }
        data.push({
            x: time,
            y: lastval 
        });
        return data;
    }

    Highcharts.setOptions({
            global: {
                    useUTC: false
            },
            yAxis: {
                    stops: [
                            [0.1, '#55BF3B'], // green
                            [0.5, '#DDDF0D'], // yellow
                            [0.9, '#DF5353'] // red
                    ],

            },          
    });
    function activeLastPointToolip(chart) {
//            var points = chart.series[0].points;
//            chart.tooltip.refresh(points[points.length -1]);
    }
    
    var x_stat = 0,x_mem = 0, x_softirq = 0, x_irq=0;

    {% if loadavg != None %}
    var chart = new Highcharts.Chart({
            chart: {
                    type: 'spline',
                    renderTo: 'loadavg',
                    marginRight: 10,
                    events: {
                            load: function () {
                                setInterval(autoupdate,1000); 
                            }
                    }
            },
            title: {
                    text: 'loadavg'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '负载'
                    },
                    min: 0,
            },
            tooltip: {
                    formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                    }
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        } 
                }, 
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    name: '1分钟',
                    data: {{ loadavg.getline('load1') }}
            },
            {
                    name: '5分钟',
                    data:  {{ loadavg.getline('load5') }}
            },
            {
                    name: '15分钟',
                    data:  {{ loadavg.getline('load15') }}
            }]
    });
    {% endif %}

    {% if stat != None %}
    var chart_stat = new Highcharts.Chart({
            chart: {
                    type: 'area',
                    renderTo: 'stat',
                    marginRight: 10,
            },
            title: {
                    text: 'CPU利用率'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '占用率'
                    },
                    min: 0,
                    max:100,
            },
            tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:,.0f}%</b> <br/>',
                    shared: true
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                area: {
                    grouping: false,
                    shadow: false,
                    borderWidth: 0,
                    stacking: 'normal'
                },
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        } 
                }, 
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    name: 'user',
                    data: {{ stat.getline('user') }}
            },
            {
                    name: 'nice',
                    data: {{ stat.getline('nice') }}
            },
            {
                    name: 'system',
                    data: {{ stat.getline('system') }}
            },
            {
                    name: 'iowait',
                    data: {{ stat.getline('iowait') }}
            },
            {
                    name: 'irq',
                    data: {{ stat.getline('irq') }}
            },
            {
                    name: 'softirq',
                    data: {{ stat.getline('softirq') }}
            },
            {
                    name: 'steal',
                    data: {{ stat.getline('steal') }}
            }]
    });

    var chart_softirq = new Highcharts.Chart({
            chart: {
                    type: 'area',
                    renderTo: 'softirq',
                    marginRight: 10,
            },
            title: {
                    text: 'softirq'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '次数'
                    },
            },
            tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:,.0f}</b> <br/>',
                    shared: true
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                area: {
                    grouping: false,
                    shadow: false,
                    borderWidth: 0,
                    stacking: 'normal'
                },
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        } 
                }, 
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    name: 'hi',
                    data: {{ stat.getline('s_hi') }}
            },
            {
                    name: 'timer',
                    data: {{ stat.getline('s_timer') }}
            },
            {
                    name: 'net_tx',
                    data: {{ stat.getline('s_net_tx') }}
            },
            {
                    name: 'net_rx',
                    data: {{ stat.getline('s_net_rx') }}
            },
            {
                    name: 'block',
                    data: {{ stat.getline('s_block') }}
            },
            {
                    name: 'block_iopoll',
                    data: {{ stat.getline('s_block_iopoll') }}
            },
            {
                    name: 'tasklet',
                    data: {{ stat.getline('s_tasklet') }}
            },
            {
                    name: 'sched',
                    data: {{ stat.getline('s_sched') }}
            },
            {
                    name: 'hrtimer',
                    data: {{ stat.getline('s_hrtimer') }}
            },
            {
                    name: 'rcu',
                    data: {{ stat.getline('s_rcu') }}
            }]
    });
    
    var chart_ctxt = new Highcharts.Chart({
            chart: {
                    type: 'spline',
                    renderTo: 'ctxt',
                    marginRight: 10,
            },
            title: {
                    text: 'ctxt'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '切换次数'
                    },
            },
            tooltip: {
                    formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                    }
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        } 
                }, 
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    name: 'ctxt',
                    data: {{ stat.getline('ctxt') }}
            }]
    });

    var chart_fork = new Highcharts.Chart({
            chart: {
                    type: 'spline',
                    renderTo: 'fork',
                    marginRight: 10,
            },
            title: {
                    text: 'fork'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '进程数量'
                    },
            },
            tooltip: {
                    formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                    }
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        } 
                }, 
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    name: 'fork',
                    data: {{ stat.getline('fork') }}
            }]
    });
    
    var chart_run_block = new Highcharts.Chart({
            chart: {
                    type: 'spline',
                    renderTo: 'runnblocked',
                    marginRight: 10,
            },
            title: {
                    text: 'run/blocked'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '进程数量'
                    },
            },
            tooltip: {
                    formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                    }
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        } 
                }, 
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    name: 'run',
                    data: {{ stat.getline('run') }}
            },
            {
                    name: 'blocked',
                    data:  {{ stat.getline('blocked') }}
            }]
    });
    {% endif %}

    {% if meminfo != None %}
    var chart_mem = new Highcharts.Chart({
            chart: {
                    type: 'area',
                    renderTo: 'mem',
                    marginRight: 10,
            },
            title: {
                    text: 'mem'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '大小'
                    },
                    /*labels:{
                        reserveSpace : false,
                    },*/
                    min: 0,
            },
            tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:,.0f}</b> <br/>',
                    shared: true
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        }, 
                }, 
                area: {
                    grouping: false,
                    shadow: false,
                    borderWidth: 0,
                    stacking: 'normal'
                },
            },
            credits: {  
              enabled:false  
            },  
            series: [
            {
                    name: 'free',
                    data: {{ meminfo.getline('free') }},
            },
            {
                    name: 'used',
                    data: {{ meminfo.getline('used') }},
            },
            {
                    name: 'cache',
                    data: {{ meminfo.getline('cache') }},
            },
            {
                    name: 'buffer',
                    data:  {{ meminfo.getline('buffer') }},
            }]
    });
    {% endif %}

    {% if stat != None %}
    var chart_scpu = Highcharts.chart({
        chart: {
            type: 'solidgauge',
            renderTo: 'scpu',
        },
        title: null,
        pane: {
                center: ['50%', '85%'],
                size: '130%',
                startAngle: -90,
                endAngle: 90,
                background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                }
        },
        tooltip: {
                enabled: false
        },
        yAxis: {
                lineWidth: 0,
                minorTickInterval: null,
                tickPixelInterval: 400,
                tickWidth: 0,
                title: {
                        y: -70,
                        text: 'cpu',
                },
                labels: {
                        y: 16
                },
                min: 0,
                max: 100,
        },
        plotOptions: {
                solidgauge: {
                        dataLabels: {
                                y: 5,
                                borderWidth: 0,
                                useHTML: true
                        }
                }
        },
        credits: {
                enabled: false
        },
        series: [{
                name: 'cpu',
                data: [80],
                dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                        '<span style="font-size:12px;color:silver">%</span></div>'
                },
                tooltip: {
                        valueSuffix: ' %'
                }
        }]
    });

    var chart_smem = Highcharts.chart({
        chart: {
            type: 'solidgauge',
            renderTo: 'smem',
        },
        title: null,
        pane: {
                center: ['50%', '85%'],
                size: '130%',
                startAngle: -90,
                endAngle: 90,
                background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                }
        },
        tooltip: {
                enabled: false
        },
        yAxis: {
                lineWidth: 0,
                minorTickInterval: null,
                tickPixelInterval: 400,
                tickWidth: 0,
                title: {
                        y: -70,
                        text: 'mem',  //显示标题的位置
                },
                labels: {
                        y: 16, //指定显示0 100刻度的位置
                },
                min: 0,
                max: 100,
        },
        plotOptions: {
                solidgauge: {
                        dataLabels: {
                                y: 5,
                                borderWidth: 0,
                                useHTML: true
                        }
                }
        },
        credits: {
                enabled: false
        },
        series: [{
                name: 'mem',
                data: [80],
                dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                        '<span style="font-size:12px;color:silver">%</span></div>'
                },
                tooltip: {
                        valueSuffix: ' %'
                }
        }]
    });
    {% endif %}

    {% if loadavg != None %}
    var chart_nr_threads = new Highcharts.Chart({
            chart: {
                    type: 'spline',
                    renderTo: 'nrthreads',
                    marginRight: 10,
            },
            title: {
                    text: '进程线程总数'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '线程数量'
                    },
            },
            tooltip: {
                    formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                    }
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        } 
                }, 
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    name: 'threads',
                    data: {{ loadavg.getline('nr_threads') }}
            }]
    });
    {% endif %}

    {% if uptime != None %}
    var chart_uptime = new Highcharts.Chart({
            chart: {
                    type: 'spline',
                    renderTo: 'uptime',
                    marginRight: 10,
            },
            title: {
                    text: 'uptime'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    type: 'datetime',
                    title: {
                            text: '时间'
                    },
            },
            tooltip: {
                    formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                    }
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        } 
                }, 
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    name: 'uptime',
                    data: {{ uptime.getline('uptime') }}
            },{
                    name: 'idletime',
                    data: {{ uptime.getline('idletime',cpunum) }}
            }]
    });
    {% endif %}

    {% if stat != None %}
        chart_irqall = new Highcharts.Chart({
            chart: {
                    type: 'area',
                    renderTo: 'irqall',
                    marginRight: 10,
            },
            title: {
                    text: 'interrupt'
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '次数'
                    },
                    min: 0,
            },
            tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:,.0f}</b> <br/>',
                    shared: true
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            plotOptions: {
                series: { 
                        marker: { 
                            enabled: false //remove plot
                        } 
                }, 
                area: {
                    grouping: false,
                    shadow: false,
                    borderWidth: 0,
                    stacking: 'normal'
                },
            },
            credits: {  
              enabled:false  
            },  
            series: [
            {
                    type: 'spline',
                    name: 'all',
                    data: {{ stat.getline('h_irq',0) }},
                    stack:'all',
            },
            {% for key in stat.data[-1].diffintr %}
            {% if key != 0 %}
            {
                    name: {{ key-1 }},
                    data: {{ stat.getline('h_irq',key) }},
                    stack:'irq',
            },
            {% endif %}
            {% endfor %}
            ]
    });
    {% endif %}
</script>
{% endblock %}
