{% extends "cpu_base.html" %}
{% block title %}ZTracer{% endblock %}

{% block main_content %}
    <h1 class="page-header">{{ data.comm }}</h1>
      <div class="row">
        <div class="col-md-12">

        <h5>命令行:</h5>
        <p>{{ data.cmdline }}</p>
        <hr/>

        <h5>环境变量:</h5>
        <p>{{ data.environ }}</p>
        <hr/>

        <h5>文件描述符:{{data.fdnum}}</h5>
        <p>{{ data.fdlist }}</p>
        <hr/>

        <table class="table table-condensed">
          {% if data.nr_threads > 1%}
          <caption>线程组信息</caption>
          {% else %}
          <caption>进程信息</caption>
          {% endif %}
          <thead>
            <tr>
              <th>pid</th>
              <th>名称</th>
              <th>状态</th>
              <th>ppid</th>
              <th>pgid</th>
              <th>sid</th>
              <th>线程个数</th>
              <th>utime</th>
              <th>stime</th>
              <th>cutime</th>
              <th>cstime</th>
              <th>VSS</th>
              <th>RSS</th>
              <th>minor</th>
              <th>major</th>
              <th>cminor</th>
              <th>cmajor</th>
              <th>nice</th>
              <th>动态优先级</th>
              <th>实时优先级</th>
              <th>调度策略</th>
              <th>oncpu</th>
              <th>启动时间</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/process/{{ data.stat[0] }}">{{ data.stat[0] }}</a></td>
              <td>{{ data.stat[1] }}</td>
              <td>{{ data.stat[2] }}</td>
              <td><a href="/process/{{ data.stat[3] }}">{{ data.stat[3] }}</td>
              <td><a href="/process/{{ data.stat[4] }}">{{ data.stat[4] }}</td>
              <td><a href="/process/{{ data.stat[5] }}">{{ data.stat[5] }}</td>
              <td>{{ data.stat[19] }}</td>
              <td>{{ data.stat[13] }}</td>
              <td>{{ data.stat[14] }}</td>
              <td>{{ data.stat[15] }}</td>
              <td>{{ data.stat[16] }}</td>
              <td>{{ data.stat[22] }}</td>
              <td>{{ data.stat[23] }}</td>
              <td>{{ data.stat[9] }}</td>
              <td>{{ data.stat[11] }}</td>
              <td>{{ data.stat[10] }}</td>
              <td>{{ data.stat[12] }}</td>
              <td>{{ data.stat[18] }}</td>
              <td>{{ data.stat[17] }}</td>
              <td>{{ data.stat[39] }}</td>
              <td>{{ data.stat[40] }}</td>
              <td>{{ data.stat[38] }}</td>
              <td>{{ data.stat[21] }}</td>
            </tr>
          </tbody>
        </table>

        <div class="col-md-12" id="childrentree" style="min-width:400px;min-height:400px"></div>

        
        {% if data.nr_threads > 1%}
        <table class="table table-condensed">
          <caption>线程信息</caption>
          <thead>
            <tr>
              <th>pid</th>
              <th>名称</th>
              <th>状态</th>
              <th>ppid</th>
              <th>pgid</th>
              <th>sid</th>
              <th>线程个数</th>
              <th>utime</th>
              <th>stime</th>
              <th>cutime</th>
              <th>cstime</th>
              <th>VSS</th>
              <th>RSS</th>
              <th>minor</th>
              <th>major</th>
              <th>cminor</th>
              <th>cmajor</th>
              <th>nice</th>
              <th>动态优先级</th>
              <th>实时优先级</th>
              <th>调度策略</th>
              <th>oncpu</th>
              <th>启动时间</th>
            </tr>
          </thead>
          <tbody>
            {% for key in data.threads %}
            <tr>
              <td><a href="/process/{{ data.threads[key].stat[0] }}">{{ data.threads[key].stat[0] }}</a></td>
              <td>{{ data.threads[key].stat[1] }}</td>
              <td>{{ data.threads[key].stat[2] }}</td>
              <td><a href="/process/{{ data.threads[key].stat[3] }}">{{ data.threads[key].stat[3] }}</td>
              <td><a href="/process/{{ data.threads[key].stat[4] }}">{{ data.threads[key].stat[4] }}</td>
              <td><a href="/process/{{ data.threads[key].stat[5] }}">{{ data.threads[key].stat[5] }}</td>
              <td>{{ data.threads[key].stat[19] }}</td>
              <td>{{ data.threads[key].stat[13] }}</td>
              <td>{{ data.threads[key].stat[14] }}</td>
              <td>{{ data.threads[key].stat[15] }}</td>
              <td>{{ data.threads[key].stat[16] }}</td>
              <td>{{ data.threads[key].stat[22] }}</td>
              <td>{{ data.threads[key].stat[23] }}</td>
              <td>{{ data.threads[key].stat[9] }}</td>
              <td>{{ data.threads[key].stat[11] }}</td>
              <td>{{ data.threads[key].stat[10] }}</td>
              <td>{{ data.threads[key].stat[12] }}</td>
              <td>{{ data.threads[key].stat[18] }}</td>
              <td>{{ data.threads[key].stat[17] }}</td>
              <td>{{ data.threads[key].stat[39] }}</td>
              <td>{{ data.threads[key].stat[40] }}</td>
              <td>{{ data.threads[key].stat[38] }}</td>
              <td>{{ data.threads[key].stat[21] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

        <hr/>
        <table class="table table-striped">
          <caption>信号</caption>
          <tbody>
            <tr>
              <td>私有挂起信号</td>
              <td>{{ data.status['SigPnd'] }}</td>
            </tr>
            <tr>
              <td>共享挂起信号</td>
              <td>{{ data.status['ShdPnd'] }}</td>
            </tr>
            <tr>
              <td>阻塞信号</td>
              <td>{{ data.status['SigBlk'] }}</td>
            </tr>
            <tr>
              <td>忽略信号</td>
              <td>{{ data.status['SigIgn'] }}</td>
            </tr>
            <tr>
              <td>捕获信号</td>
              <td>{{ data.status['SigCgt'] }}</td>
            </tr>
          </tbody>
        </table>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        地址空间（点击展开）
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-striped">
                          <caption>地址空间</caption>
                          <thead>
                            <tr>
                              <th>地址</th>
                              <th>权限</th>
                              <th>文件中的偏移</th>
                              <th>主：次设备号</th>
                              <th>inode编号</th>
                              <th>映射的文件名称</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for map in data.maps %}
                            <tr>
                              <td>{{ map[0] }}</td>
                              <td>{{ map[1] }}</td>
                              <td>{{ map[2] }}</td>
                              <td>{{ map[3] }}</td>
                              <td>{{ map[4] }}</td>
                              <td>{{ map[5] }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="pidvmmemcol" style="min-width:400px;height:400px"></div>
        <div class="col-md-12" id="pidvmmem" style="min-width:400px;height:300px"></div>
        <div class="col-md-12" id="pidrss" style="min-width:400px;height:300px"></div>
        <div class="col-md-12" id="pidcputime" style="min-width:400px;height:300px"></div>
        <div class="col-md-12" id="threadutime" style="min-width:400px;height:300px"></div>
        <div class="col-md-12" id="threadstime" style="min-width:400px;height:300px"></div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript">
    function autoupdate(){
        $.post("/update/all",
            {
                data : 'pidvmmem',
                id  : {{ data.pid }},
            },
            function(data,status){
                if(status == "success")
                {
                    var series = chart.series;
                    var x = (new Date()).getTime(), // 当前时间
                    y = data.src[0];
                    series[0].addPoint([x, y], false, true); //由于要画多个点，第二个参数（自动刷新）不要使能，最后统一重绘
                    y = data.src[1];
                    series[1].addPoint([x, y], false, true);
                    y = data.src[2];
                    series[2].addPoint([x, y], false, true);
                    y = data.src[3];
                    series[3].addPoint([x, y], false, true);
                    y = data.src[4];
                    series[4].addPoint([x, y], false, true);
                    chart.redraw()

                    var series_cpu = chart_cpu.series;
                    var y1 = data.src[5]
                    var diff1 = y1 - last_utime
                    last_utime = y1
                    series_cpu[0].addPoint([x, diff1], true, true); 

                    var y2 = data.src[6];
                    var diff2 = y2 - last_stime
                    last_stime = y2
                    series_cpu[1].addPoint([x, diff2], true, true);
                    chart_cpu.redraw()

                    if (chart_rss.series[0].points.length >= 120)
                        chart_rss.series[0].addPoint([x, data.src[7]], true, true); 
                    else
                        chart_rss.series[0].addPoint([x, data.src[7]], true, false); 
                    //document.getElementById("chart1").src=data.src;
                    //document.getElementById("chart2").src="/static/loadavg.svg?t=" + Date();

                    if(data.threadu)
                    {
                        var found = 0
                        for( var addseries of chart_threadutime.series)
                        {
                            for(var pid in data.threadu)
                            {
                                if (addseries.name == pid)
                                {
                                    found = 1;
                                    addseries.addPoint([x, data.threadu[pid]-threadutime[pid]], false, true);
                                }
                            }

                            if(found == 0)
                                addseries.addPoint([x, 0], false, true);

                            if(threadulasttime[ parseInt(addseries.name)])
                                if(x - threadulasttime[parseInt(addseries.name)] > 120 * 1000)
                                    addseries.remove();
                        }

                        for(var pid in data.threadu)
                        {
                            var val = data.threadu[pid]
                            if(threadutime[pid])
                            {
                                if(val - threadutime[pid] > 0)
                                {
                                    for( var addseries of chart_threadutime.series)
                                    {
                                        if (addseries.name == pid)
                                        {
                                            break;
                                        }
                                    }

                                    if(!addseries || addseries.name != pid)
                                    {
                                        var newseries=new Array();
                                        newseries.name = pid;
                                        newseries.data = create_datax(120,x); 
                                        chart_threadutime.addSeries(newseries);  
                                    }
                                    threadulasttime[pid] = x
                                }
                            }
                            threadutime[pid] = data.threadu[pid]                                
                        }

                        chart_threadutime.redraw();
                    }

                    if(data.threads)
                    {
                        var found = 0
                        for( var addseries of chart_threadstime.series)
                        {
                            for(var pid in data.threads)
                            {
                                if (addseries.name == pid)
                                {
                                    found = 1;
                                    addseries.addPoint([x, data.threads[pid]-threadstime[pid]], false, true);
                                    break;
                                }
                            }

                            if(found == 0)
                                addseries.addPoint([x, 0], false, true);

                            if(threadslasttime[ parseInt(addseries.name)])
                                if(x - threadslasttime[parseInt(addseries.name)] > 120 * 1000)
                                    addseries.remove();
                        }

                        for(var pid in data.threads)
                        {
                            var val = data.threads[pid]
                            if(threadstime[pid])
                            {
                                if(val - threadstime[pid] > 0)
                                {
                                    for( var addseries of chart_threadstime.series)
                                    {
                                        if (addseries.name == pid)
                                        {
                                            break;
                                        }
                                    }

                                    if(!addseries || addseries.name != pid)
                                    {
                                        var newseries=new Array();
                                        newseries.name = pid;
                                        newseries.data = create_datax(120,x); 
                                        chart_threadstime.addSeries(newseries);  
                                    }
                                    threadslasttime[pid] = x
                                }
                            }
                            threadstime[pid] = data.threads[pid]                                
                        }

                        chart_threadstime.redraw();
                    }
                }
            });
    }

    var last_utime={{ data.utime }};
    var last_stime={{data.stime}};
    var threadutime=new Array();
    var threadstime=new Array();
    var threadulasttime=new Array();
    var threadslasttime=new Array();

    function create_data(len) {
        // 生成初始化空值
        var data = [],time = (new Date()).getTime(),i;
        for (i = -len; i <= 0; i += 1) {
                data.push({
                        x: time + i * 1000,
                        y: 0 //Math.random()
                });
        }
        return data;
    } 

    function create_datax(len,x) {
        // 生成初始化空值
        var data = [],time = x,i;
        for (i = -len; i <= 0; i += 1) {
                data.push({
                        x: time,
                        y: 0 //Math.random()
                });
        }
        return data;
    }

    
    Highcharts.setOptions({
            global: {
                    useUTC: false
            }
    });
    function activeLastPointToolip(chart) {
            var points = chart.series[0].points;
            chart.tooltip.refresh(points[points.length -1]);
    }

    var chart = new Highcharts.Chart({
            chart: {
                    type: 'area',
                    renderTo: 'pidvmmem',
                    marginRight: 10,
                    events: {
                            load: function () {
                                setInterval(autoupdate,1000); 
                            }
                    }
            },
            title: {
                    text: '虚拟内存监控'
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: '大小'
                    },
                    min: 0,
                    allowDecimals: false,
                    reversedStacks:false,  //反转堆叠图，从下到上新增数据条
            },
            plotOptions: {
                area: {
                        stacking: 'normal'
                },
                series: { 
                        marker: { 
                            enabled: false 
                        } 
                }, 
            },
            tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:,.0f}</b> <br/>',
                    shared: true
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    type: 'spline',
                    name: 'total vm',
                    data: create_data(120),
                    stack: 'top'
            },
            {
                    name: 'stk',
                    data: create_data(120),
                    stack: 'vm'
            },
            {
                    name: 'data',
                    data: create_data(120),
                    stack: 'vm'
            },
            {
                    name: 'lib',
                    data: create_data(120),
                    stack: 'vm'
            },
            {
                    name: 'exe',
                    data: create_data(120),
                    stack: 'vm'
            }]
    });
    
    {% if data.VmPeak %}
    var chart_col = new Highcharts.Chart({
            chart: {
                    type: 'column',
                    renderTo: 'pidvmmemcol',
                    marginRight: 10,
            },
            title: {
                    text: '虚拟内存分布'
            },
            xAxis: {
                    categories: [
                        '分布'
                    ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '大小'
                },
                plotLines:[{
                    color:'red',           //线的颜色，定义为红色
                    dashStyle:'dot',     //默认值，这里定义为实线
                    value:{{ data.VmPeak }},               //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                    width:2,                //标示线的宽度，2px
                    label:{
                        align:'right', 
                        text:'虚拟内存最大值{{ data.VmPeak/1024 }}KB',
                    }
                },{
                    color:'blue',           //线的颜色，定义为红色
                    dashStyle:'dot',     //默认值，这里定义为实线
                    value:{{ data.VmHWM }},               //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                    width:2,                //标示线的宽度，2px
                    label:{
                        align:'right', 
                        text:'物理内存最大值{{ data.VmHWM/1024 }}KB',
                    }
                }],
                
            },
            legend: {
                shadow: false
            },
            tooltip: {
                shared: true
            },
            plotOptions: {
                column: {
                    grouping: false,
                    shadow: false,
                    borderWidth: 0,
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'vmtotal',
                data: [{{ data.VmSize }}],
                tooltip: {
                    valueSuffix: ' B'
                },                
                pointPadding: 0.38,
                pointPlacement: -0.3,
                stack: 'top',
            }, {
                name: 'stk',
                data: [{{ data.VmStk }}],
                tooltip: {
                    valueSuffix: ' B'
                },
                pointPadding: 0.4,
                pointPlacement: -0.3,
                stack: 'vm',
            }, {
                name: 'data',
                data: [{{ data.VmData }}],
                tooltip: {
                    valueSuffix: ' B'
                },
                pointPadding: 0.4,
                pointPlacement: -0.3,
                stack: 'vm',
            }, {
                name: 'lib',
                data: [{{ data.VmLib }}],
                tooltip: {
                    valueSuffix: ' B'
                },
                pointPadding: 0.4,
                pointPlacement: -0.3,
                stack: 'vm',
            }, {
                name: 'exe',
                data: [{{ data.VmExe }}],
                tooltip: {
                    valueSuffix: ' B'
                },
                pointPadding: 0.4,
                pointPlacement: -0.3,
                stack: 'vm',
            },  {
                name: 'rss',
                data: [{{ data.VmRSS }}],
                tooltip: {
                    valueSuffix: ' B'
                },
                pointPadding: 0.4,
                pointPlacement: -0.1,
                stack: 'rss',
            }, {
                name: 'pte',
                data: [{{ data.VmPTE }}],
                tooltip: {
                    valueSuffix: ' B'
                },
                pointPadding: 0.4,
                pointPlacement: -0.1,
                stack: 'rss',
            },{
                name: 'swap',
                data: [{{ data.VmSwap }}],
                tooltip: {
                    valueSuffix: ' B'
                },
                pointPadding: 0.4,
                pointPlacement: 0.1,
                stack: 'swap',
            },{
                name: 'lock',
                data: [{{ data.VmLck }}],
                tooltip: {
                    valueSuffix: ' B'
                },
                pointPadding: 0.4,
                pointPlacement: 0.3,
                stack: 'lock',
            },{
                name: 'pin',
                data: [{{ data.VmPin }}],
                tooltip: {
                    valueSuffix: ' B'
                },
                pointPadding: 0.4,
                pointPlacement: 0.5,
                stack: 'pin',
            },{
                type: 'pie',
                name: 'rss',
                data: [{
                    name: '文件页',
                    y: {{ data.RssFile }},
                    color: Highcharts.getOptions().colors[11],
                    tooltip: {
                        valueSuffix: ' B'
                    },                     
                }, {
                    name: '匿名页',
                    y: {{ data.VmRSS - data.RssFile }},
                    color: Highcharts.getOptions().colors[12],
                    tooltip: {
                        valueSuffix: ' B'
                    },                     
                }],
                center: ["40%", "10%"],
                size: 100,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }]
    });

    var chart_rss = new Highcharts.Chart({
        chart: {
                type: 'spline',
                renderTo: 'pidrss',
                marginRight: 10,
        },
        title: {
                text: '进程物理内存监控'
        },
        xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
        },
        yAxis: {
                title: {
                        text: '大小'
                },
                allowDecimals: false,
        },
        plotOptions: {
            series: { 
                    marker: { 
                        enabled: false 
                    } 
            }, 
        },
        tooltip: {
                formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                }
        },
        legend: {
                layout: 'vertical',
                floating: true,
                align: 'left',
                verticalAlign: 'top',
                x: 90,
                y: 45,
        },
        credits: {  
          enabled:false  
        },  
        series: [{
                name: '物理内存',
                data: []
        }]
    });
    {% endif %}

        var chart_cpu = new Highcharts.Chart({
            chart: {
                    type: 'area',
                    renderTo: 'pidcputime',
                    marginRight: 10,
            },
            title: {
                    text: '进程运行时间监控'
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: 'jiffies'
                    },
                    min: 0,
                    allowDecimals: false,
            },
            plotOptions: {
                area: {
                        stacking: 'normal'
                },
                series: { 
                        marker: { 
                            enabled: false 
                        } 
                }, 
            },
            tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:,.0f}</b> <br/>',
                    shared: true
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            credits: {  
              enabled:false  
            },  
            series: [{
                    name: 'user',
                    data: create_data(120),
                    stack: 'cpu'
            },
            {
                    name: 'system',
                    data: create_data(120),
                    stack: 'cpu'
            },{
                type: 'pie',
                name: '总时间比重',
                data: [{
                    name: '用户态时间',
                    y: {{ data.utime }},
                    color: Highcharts.getOptions().colors[11],
                }, {
                    name: '内核态时间',
                    y: {{ data.stime }},
                    color: Highcharts.getOptions().colors[12],
                }],
                center: ["15%", "10%"],
                size: 80,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }]
    });


        var chart_threadutime = new Highcharts.Chart({
            chart: {
                    type: 'area',
                    renderTo: 'threadutime',
                    marginRight: 10,
            },
            title: {
                    text: 'u运行时间监控'
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: 'jiffies'
                    },
                    min: 0,
                    allowDecimals: false,
            },
            plotOptions: {
                area: {
                        stacking: 'normal'
                },
                series: { 
                        marker: { 
                            enabled: false 
                        } 
                }, 
            },
            tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:,.0f}</b> <br/>',
                    shared: true
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            credits: {  
              enabled:false  
            },  
            series: [
            ]
    });

        var chart_threadstime = new Highcharts.Chart({
            chart: {
                    type: 'area',
                    renderTo: 'threadstime',
                    marginRight: 10,
            },
            title: {
                    text: 's运行时间监控'
            },
            xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
            },
            yAxis: {
                    title: {
                            text: 'jiffies'
                    },
                    min: 0,
                    allowDecimals: false,
            },
            plotOptions: {
                area: {
                        stacking: 'normal'
                },
                series: { 
                        marker: { 
                            enabled: false 
                        } 
                }, 
            },
            tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:,.0f}</b> <br/>',
                    shared: true
            },
            legend: {
                    layout: 'vertical',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 90,
                    y: 45,
            },
            credits: {  
              enabled:false  
            },  
            series: [
            ]
    });
   // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('childrentree'));
    var data1 = {
        {% if data.ppid == 0 %}
        "name": "idle(0)",
        {%else%}
        "name": "{{threadlist[data.ppid].stat[1]}}({{data.ppid}})",
        {%endif%}
        "children": [
            {% for key in data.threads %}
            {
                "name": "{{threadlist[data.threads[key].pid].stat[1]}}({{data.threads[key].pid}})",
                "children": [
                    {% for index in data.threads[key].children %}
                    {
                         "name": "{{threadlist[index].stat[1]}}({{index}})",
                    },
                    {% endfor %}
                ]
            },
            {% endfor %}
        ]
    };

    myChart.setOption(option = {
        tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove'
        },
        legend: {
            top: '2%',
            left: '3%',
            orient: 'vertical',
            data: [{
                name: '父子关系',
                icon: 'rectangle'
            }],
            borderColor: '#c23531'
        },
        series:[
            {
                type: 'tree',

                name: 'tree1',

                data: [data1],

                top: '8%',
                left: '2%',
                bottom: '20%',
                right: '2%',
                orient: 'vertical',
                expandAndCollapse: true,
                symbolSize: 7,

                label: {
                    normal: {
                        position: 'left',
                        rotate: -90,
                        verticalAlign: 'middle',
                        align: 'right',
                        fontSize: 9,
                    }
                },

                leaves: {
                    label: {
                        normal: {
                            position: 'bottom',
                            rotate: -90,
                            verticalAlign: 'middle',
                            align: 'left'
                        }
                    }
                },

                expandAndCollapse: true,

                animationDuration: 550,
                animationDurationUpdate: 750
            },
        ]
    });

</script>
{% endblock %}
