{% extends "cpu_base.html" %}
{% block title %}Z-Tracer{% endblock %}

{% block main_content %}
    <form action="" method="post" class="form" role="form">
        <div class="col-md-7">
            <div class="form-group form-inline">
                <label class="control-label" for="inpid">pid</label>
                <input class="form-control" id="inpid" name="inpid" required type="text" value="">
                <label class="control-label" for="insyscall"> 系统调用名称</label>
                <input class="form-control" id="insyscall" name="insyscall" required type="text" value="">
            </div>
          </div>
        <div class="col-md-3">
            <label id="syscallstart" class="btn btn-success">开始采样</label>
            <label id="syscallstop" class="btn btn-danger">停止采样</label>
        </div>
        <div id="perfok" align="center" class="col-md-2">
            <a id="ret" style="font-size: 22px;"></a>
        </div>
    </form>

    <div class="col-md-12"><hr></div>
    <div class="col-md-12" id="histsyscall" style="height: 300px; min-width: 400px; margin: 0 auto" align="center"></div>
    <div class="col-md-12" align="center">
        <table id="tt" class="table table-condensed table-striped">
        </table>
    </div>

    <div class="col-md-12"><hr></div>
    <div class="col-md-12" id="histpid" style="height: 300px; min-width: 400px; margin: 0 auto" align="center"></div>
    <div class="col-md-12" align="center">
        <table id="tpid" class="table table-condensed table-striped">
        </table>
    </div>

    <div class="modal fade text-center" id="modalpersyscall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="display: inline-block; width: auto;max-width: 100%">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <div class="col-md-12" id="persyscall" style="height: 400px; min-width: 800px; margin: 0 auto"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-center" id="modalperpid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="display: inline-block; width: auto;max-width: 100%">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <div class="col-md-12" id="perpid" style="height: 400px; min-width: 800px; margin: 0 auto"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">

    var time = 0;
    var cnt = 0;
    var timer = 0; 
    var done = 0;
    var begintime = 0;
    var linkTmp = document.getElementById("ret");
    var tb = 0;
    var tbpid = 0;
    var rdata;

    $("#syscallstart").click(function(){
        cnt = 0; 
        done = 0;
        begintime = (new Date()).getTime();
        $.post("/perf/syscallstart",
        {
            pid : $("#inpid").val(),
            syscall : $("#insyscall").val(),
        },
        function(data,status){
            if(status == "success")
            {
                if(data.result == "ok")
                {
                    timer = setInterval(clickdone,100);
                    linkTmp.innerText = "正在检测..."; 
                }
                else
                {
                    linkTmp.innerText = data.result; 
                }
            }
        });
    });

    function clickdone(){
        cnt += 1;
        if(done == 0)
            linkTmp.innerText = ((new Date()).getTime() - begintime)/1000; 
        else if(done == 1)
            linkTmp.innerText = "分析中......"; 

    }

    $("#syscallstop").click(function(){
        done = 1;
        $.post("/perf/syscallstop",
        {
        },
        function(data,status){
            if(status == "success")
            {
                if(data.result == 'ok')
                {
                    linkTmp.innerText = "完成"; 
                    rdata = data;
                    /**********************************总系统调用图*****************************/
                    var chart_syscall = new Highcharts.Chart({
                        series: [
                        ],
                        chart: {
                                type: 'column',
                                renderTo: 'histsyscall',
                                marginRight: 10,
                        },
                        title: {
                            text: '系统调用分布' 
                        },
                        credits: {  
                            enabled:false  
                        },
                        xAxis: {
                                categories: [
                                    '系统调用名称'
                                ]
                        },
                        yAxis: {
                            allowDecimals: false,
                            title: {
                                text: '次',
                                rotation: 0
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y} 次</b></td></tr>',
                            footerFormat: '</table>',
                            useHTML: true
                        }
                    });

                    createtable();
                    for(var i=0; i<data.sortdict.length; i++)
                    {
                        var trNode=tb.insertRow();
                        trNode.rname = data.sortdict[i][0];
                        trNode.onclick= function(){draw_persyscall(this,data)};
                        var tdNode=trNode.insertCell();
                        tdNode.innerHTML=data.sortdict[i][0];
                        tdNode=trNode.insertCell();
                        tdNode.innerHTML='<a>' + data.sortdict[i][1] + '<\a>';
                        
                        if(i>=10)
                            continue;
                        var newseries=new Array();
                        newseries.name = data.sortdict[i][0];
                        newseries.data = [data.sortdict[i][1]]; 
                        chart_syscall.addSeries(newseries);                          
                    }
                    chart_syscall.redraw();

                    /**********************************总pid调用图*****************************/
                    var chart_pid = new Highcharts.Chart({
                        series: [
                        ],
                        chart: {
                                type: 'column',
                                renderTo: 'histpid',
                                marginRight: 10,
                        },
                        title: {
                            text: '进程系统调用统计' 
                        },
                        credits: {  
                            enabled:false  
                        },
                        xAxis: {
                                categories: [
                                    '进程pid'
                                ]
                        },
                        yAxis: {
                            allowDecimals: false,
                            title: {
                                text: '次',
                                rotation: 0
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y} 次</b></td></tr>',
                            footerFormat: '</table>',
                            useHTML: true
                        }
                    });

                    createtablepid();
                    for(var pid in data.piddict)
                    {
                        var trNode=tbpid.insertRow();
                        trNode.rname = pid;
                        trNode.onclick= function(){draw_perpid(this,data)};
                        var tdNode=trNode.insertCell();
                        tdNode.innerHTML=pid;
                        tdNode=trNode.insertCell();
                        tdNode.innerHTML=data.piddict[pid].comm;
                        tdNode=trNode.insertCell();
                        tdNode.innerHTML='<a>' + data.piddict[pid].num + '<\a>';

                        var newseries=new Array();
                        newseries.name = pid + "("+ data.piddict[pid].comm +")";
                        newseries.data = [data.piddict[pid].num]; 
                        chart_pid.addSeries(newseries);       
                    }
                    chart_pid.redraw();
                }
                else
                {
                    linkTmp.innerText = data.result; 
                }
                if(timer != 0)
                        clearInterval(timer);
            }
        });
    });

    function draw_persyscall(column, data){ 
        syscall = column.rname
        var chart_persyscall = new Highcharts.Chart({
            series: [
            ],
            chart: {
                    type: 'column',
                    renderTo: 'persyscall',
                    marginRight: 10,
            },
            title: {
                text: '系统调用分布:' + syscall
            },
            credits: {  
                enabled:false  
            },
            xAxis: {
                    categories: [
                        '进程pid'
                    ]
            },
            yAxis: {
                allowDecimals: false,
                title: {
                    text: '次',
                    rotation: 0
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y} 次</b></td></tr>',
                footerFormat: '</table>',
                useHTML: true
            }
        });

        for(var pid in data.piddict)
        {
            if(data.piddict[pid]["callmap"][syscall])
            {
                var newseries=new Array();
                newseries.name = pid+"("+ data.piddict[pid].comm +")";
                newseries.data = [data.piddict[pid].callmap[syscall]]; 
                chart_persyscall.addSeries(newseries);  
            }
        }
        chart_persyscall.redraw();
        $('#modalpersyscall').modal('show');
    } 

    function draw_perpid(column, data){ 
        pid = column.rname
        var chart_perpid = new Highcharts.Chart({
            series: [
            ],
            chart: {
                    type: 'column',
                    renderTo: 'perpid',
                    marginRight: 10,
            },
            title: {
                text: '进程系统调用分布：'+ pid + "(" + data.piddict[pid].comm + ")"
            },
            credits: {  
                enabled:false  
            },
            xAxis: {
                    categories: [
                        '系统调用名称'
                    ]
            },
            yAxis: {
                allowDecimals: false,
                title: {
                    text: '次',
                    rotation: 0
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y} 次</b></td></tr>',
                footerFormat: '</table>',
                useHTML: true
            }
        });

        for(var syscall in data.piddict[pid]["callmap"])
        {
            var newseries=new Array();
            newseries.name = syscall;
            newseries.data = [data.piddict[pid].callmap[syscall]]; 
            chart_perpid.addSeries(newseries);  
        }
        chart_perpid.redraw();
        $('#modalperpid').modal('show');
    } 


    function createtable(){
        //1.创建表格
        var table=document.getElementById("tt");
        if(tb!=0)
            table.removeChild(tb);
        //2.创建tbody
        tb=document.createElement("tbody");
        table.appendChild(tb);
        //3.创建表头
        var tr1=document.createElement("tr");
        tb.appendChild(tr1);
        var th1=document.createElement("th");
        th1.appendChild(document.createTextNode("系统调用"));
        tr1.appendChild(th1);

        var th2=document.createElement("th");
        th2.appendChild(document.createTextNode("次数"));
        tr1.appendChild(th2);
    }

    function createtablepid(){
        //1.创建表格
        var table=document.getElementById("tpid");
        if(tbpid!=0)
            table.removeChild(tbpid);
        //2.创建tbody
        tbpid=document.createElement("tbody");
        table.appendChild(tbpid);
        //3.创建表头
        var tr1=document.createElement("tr");
        tbpid.appendChild(tr1);
        var th1=document.createElement("th");
        th1.appendChild(document.createTextNode("pid"));
        tr1.appendChild(th1);

        var th2=document.createElement("th");
        th2.appendChild(document.createTextNode("名称"));
        tr1.appendChild(th2);

        var th3=document.createElement("th");
        th3.appendChild(document.createTextNode("系统调用次数"));
        tr1.appendChild(th3);
    }

    document.getElementById("nv_syscall").setAttribute("class","active");
</script>
{% endblock %}
