{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Z-Tracer{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="nv_pidtree"><a href="{{ url_for('.tasktree') }}">关系图</a></li>
            <li id="nv_psmon"><a href="{{ url_for('.process_monitor') }}">进程监控</a></li>
            <li id="nv_psinfo"><a href="{{ url_for('.process') }}">进程信息</a></li>
            <li id="nv_thinfo"><a href="{{ url_for('.thread') }}">线程信息</a></li>
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="entry">
            {% block main_content %}
            {% endblock %}
            </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
